<h3>Teams</h3>

<ul style="list-style-type:none;">
      <% @teams.each do |t| %>
      <div class="teams">
        <li>
          <a href="<%= team_path(t.id) %>">
            <%= image_tag t.image, alt: t.name%>

          </a>
        </li>
      </div>
      <% end %>
</ul>
