<%= cl_image_tag @user.image, :width=>150, :height=>150, :gravity=>"faces", :crop=>"fill", :radius=>"max" %>
<div class="container">
  <%= link_to 'Create New Fantasy Team', new_fantasyteam_path %>
</div>
<h3>Your Fantasy Teams</h3>


<% @current_user.fantasyteams.each do |t|  %>
  <%= link_to t.name, fantasyteam_path(t.id) %>
  <br>
<% end %>
