<h3>Players</h3>

<ul style="list-style-type:none;">
      <% @players.each do |p| %>
      <div class="players">
        <li>
          <a href="<%= player_path(p.id) %>">
            <%= cl_image_tag p.image, alt: p.name%>
          </a>
        </li>
      </div>
      <% end %>
</ul>
