@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

.players {
  display: inline-block
}

.teams {
  display: inline-block
}

.fantasyteam {
  display: inline-block
}

.edit_fantasyteam {
  display: inline-block
}

.new_fantasyteam {
  display: inline-block
}


h1 {
  font-size: 100px;
}

html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  background: url("https://i.imgur.com/9Uc8tkO.jpg") no-repeat center fixed;
  background-size: cover;
  text-align:center;
  color: white;
  font-size: 30px;
  font-family: 'Unica One', cursive;
}

.hello {
  float: right;
  margin: 14px;
  font-size: 17px;
}

.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.footer,
.push {
  height: 50px;
}

.fantasy_image {
  float: right;
}

.label {
  float: left;
  width: 200px;
  padding-right: 24px;
}

.login {

}
